@import '../../../profile/variables';

.collectionWraps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .thumbsItem {
      display: inline-block;
      img {
        display: block;
        width: 100% !important;
        object-fit: cover;
      }
    }
  
    .slideDownEffects {
      display: block;
    }
  
     .thumbsContent {
      padding: 1rem;
      text-align: center;
      p {
        margin-bottom: 0;
      }
    }
  }
  
  .thumbsWrap {
      color: inherit;
      cursor: pointer;
      height: 500px;
      min-height: 500px;
      perspective: 1000px;
      position: relative;
  }
  
  
  .front,
  .back {
      display: flex;
      background-position: center;
      background-size: cover;
      text-align: center;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 100%;
      width: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: ease-in-out 600ms;
  }
  
  .front {
      background-size: cover;
      overflow: hidden;
  }
  .front:before {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(135deg, #1a9be6, #1a57e6);
      opacity: 0.25;
      z-index: -1;
  }
  .thumbsWrap:hover .front {
      transform: rotateY(180deg);
  }
  .thumbsWrap:nth-child(even):hover .front {
      transform: rotateY(-180deg);
  }
  
  .back {
      background: #FFFFFF;
      transform: rotateY(-180deg);
      padding: 0 1em;
      font-size: 1.5rem;
      color: #000000;
  }
  .thumbsWrap:hover .back {
      transform: rotateY(0deg);
  }
  .thumbsWrap:nth-child(even) .back {
      transform: rotateY(180deg);
  }
  
  .thumbsWrap:nth-child(even):hover .back {
      transform: rotateY(0deg);
  }
  