
.userHeaderWrap {
     @include box_shadow(1);
    padding: 1rem;
    margin-bottom: 32px;
}

.userHeader {
    @include flex;
    @include align-items(center);
    @include justify-content(space-between);
} 
.headerLeft {
    span {
        margin-left: 2rem;
    }
}
.userImg {
    margin-right: 8px;
    .profileImg {
        border-radius: 12px;
    }
}
.userLogged {
    @include flex;
    margin-right: 2rem;
}

.headerRight {
    @include flex;
}
.menuWrap {
    list-style: none;
    margin: 0; padding: 0;
}
.menuItem {
    display: block;
    a {
        padding: 15px;
        display: block;
        &:hover {
            color: #4400CD !important;
            font-weight: 600;
        }
    }
}


.menuHead {
    display: block;
    font-size: $font-medium;
    font-weight: bold;
    margin: 15px 0;
}
.accHead {
   font-size: $font-xlarge; 
}

.headDesc {
    font-size: $font-small;
    margin-bottom: 24px;
} 
.socialText {
    margin-left: 14px;
}

.profileImgWrap {
    @include flex;
    @include align-items(center);
}
.profileImg {
    border-radius: 12px;
}
.uploadText {
    text-transform: uppercase;
    font-size: $font-mini;
}

