$textColor:                 #3A3A43;
$textBgColor:               #FFD400;

$profileH1FontSize:         38px;
$profileH1FontColor:        $textColor;

$profileH2FontSize:         21px;
$profileH2FontColor:        $textColor;

$profileH3FontSize:         23px;
$profileH3FontColor:        $textColor;

$profileH4FontSize:         14px;
$profileH4FontColor:        $textColor;

$socialIconsColor:          $textColor;
$socialIconsFontSize:       $textColor;

$statusWrapFontSize:        23px;
$statusWrapColor:           $textColor;

$TabsColor:                 $textColor;
$TabsFontSize:              21px;

$PaginationColor:           $textColor;
$PaginationBgColor:         #FFFFFF;
$PaginationActiveColor:     $textColor;
$PaginationActiveBGColor:   $textBgColor;
$PaginationFontSize:        21px;

$boderColor:                $textColor;

$btnActiveColor:            $textColor;
$btnActiveBgColor:          $textBgColor;



// Thumbs Style assets
$assetsBgColor:             #F5F5F5;
