@import '../../../profile/variables';

.spacesWrap {
    padding-top: 1rem;
    padding-bottom: 1rem;
    article {
        margin-bottom: 2rem;
    }
    .thumbsContent {
        padding: 1rem;
        text-align: center;
        background-color: $textBgColor;
        color: #FFFFFF;
        h2 {
            font-size: 2rem;
        }
    }
}
