@import '../../../profile/variables';

.collectionWraps {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(22rem,1fr));
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .thumbsItem {
        display: inline-block;
        img {
            display: block;
            width: 100%;
            object-fit: cover;
    
        }
    }    
    .slideDownEffects {
        display: block
    }    
    .thumbsWrap {
        text-align: center;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,107,205, 0.5);
            z-index: 2;
            top: -100%;
            left: 0;
        }
        &:hover {
            &::before {
                transition: all 0.3s ease-in-out;
                top: 0;
            }
        }
    }
    .thumbsContent {
        padding: 1rem;
        text-align: center;
        p {
            margin-bottom: 0;
        }
    }
}