// @import '../../main_theme/component/groupvariable';
// @import '../../main_theme/component/mixin';

.collectionWrap {
    background-color: #FFD400;
    padding-top: 22px;
    padding-bottom: 22px;
}
.collectionTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headWrap {
    display: flex;
    align-items: center;
    h1 {
        font-weight: bold;
    }
    span {
        margin-left: 32px;
        color: #8D8D8D;
    }
}
.collectionContent {
    padding-top: 48px;
    padding-bottom: 100px;
    max-width: 512px;
}

.assetsAll {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(14rem,1fr));
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    article {
        transition: all 0.5s;
        border: 2px solid #3A3A43;
        border-radius: 4px;
        background-color: #f5f5f5;
        a {
            padding: 8px;
            display: inline-block
        }
        img {
            border-radius: 4px;
        }
        p {
            transition: all 0.5s;
        }
        &:hover {
            background-color: #FFD400;
            p {
                background-color: #FFD400;
            } 
        }
    }
    p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 80px;
    }
}
.thumbsItem {
    display: inline-block;
    img {
        display: block;
        width: 100%;
        object-fit: cover;

    }
}
.thumbsWrap {
    background-color: #FFFFFF;
    //@include box_shadow(1);
    text-align: center;
}
.thumbsContent {
    text-align: center;
    p {
        padding: 12px;
        margin-bottom: 0;
        background-color: #FFFFFF;
        font-size: 0.85rem;
    }
}

.seeMore {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 19px;
    transition: all 0.5s;
    cursor: pointer;
    color: #000000;
    &:hover {
        color: #354F66;
    }
}
.profileWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.userImg {
    margin-right: 8px;
    .profileImg {
        border-radius: 12px;
    }
}
.userLogged {
    display: flex;
}
.likesCount {
    text-align: center;
}
.userInfo {
    h4 {
        font-size: 14px;
        margin: 0;
        font-weight: bold;
    }
    .textMini {
        font-size: 13px;
    }
}

.profileLike {
    margin-top: 89px;
    margin-bottom: 137px;
}
.footer {
    padding-bottom: 8px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}